.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


.parent_good {
    overflow: hidden;
}

.left_block {
    float: left;
    width: 150px;
    height: 150px;
    /*background: #888; */
    margin-bottom: 100px;
}
.right_block {
    text-align: right;
    overflow: hidden;
    height: 100px;
    /*background: #ccc */
}
.navbar {
    min-height:120px !important;
}

.navbar-brand {
    font-family: "Gill Sans", sans-serif;
    font-size: 40px;
}

h1 {
    font-family: "Gill Sans", sans-serif;
    padding-top: 10px;
}

h2 {
    font-family: "Gill Sans", sans-serif;
}

.collapse {
    font-family: "Gill Sans", sans-serif;
    font-size: 19px;
}
