.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


.parent_good {
    overflow: hidden;
}

.left_block {
    float: left;
    width: 150px;
    height: 150px;
    /*background: #888; */
    margin-bottom: 100px;
}
.right_block {
    text-align: right;
    overflow: hidden;
    height: 100px;
    /*background: #ccc */
}

h1 {
    font-family:Lobster, cursive;
    Font-size:30px;
    margin-bottom: 20px;
}

