{% extends "base.html" %}

{% block content %}
<h1>Овощи, фрукты, зелень прямиком с грядки</h1>
<h2>Самое свежее, самое натуральное для вас</h2>
<main>
<div class="container">
  <div class="row justify-content-md-center">
    {% for category,category_img,category_id in categories %}
      <div class="col col-sm-4 text-center">
      <img src="{{ category_img }}" width="250" height="250">
      <p><a href="goods/?category={{ category_id }}">{{ category }}</a></p>
      </div>
      {% endfor %}
  </div>
</div>
</main>



{% endblock %}
