{% extends "base.html" %}

{% block content %}
    <div class="container">
        {%  if items  %}
            {% for item in items %}
                 <div class="items-view border m-3 p-1 border-secondary rounded parent_good">
                    <h3 class="text-center">{{ item.name }}</h3>
                    <div class="description">
                        <p>{{ item.description }}</p>
                    </div>
                     <div class="good_img left_block">
                        <img src="{{ item.image_path }}" width="150" height="150">
                    </div>
                    <div class="good_price right_block">
                        <p>Цена: {{ item.price }} &#x20bd </p>
                        <p>Создано: {{ item.created_at|format_data_to_hr }}</p>
                    </div>

                    <button type="button" class="btn btn-info btn-lg">
                        <i class="fas fa-shopping-cart"></i> В корзину
                    </button>
                </div>
            {% endfor %}
        {%  endif %}
      {{ pagination.links }}
    </div>
{%  endblock %}